---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout>
  <Hero />
  <h2>
    2026 Breaking Darkness <br />
    website coming soon
  </h2>
  <p class="contact">
    Media Inquiries:
    <a href="mailto:breakingdarkness@proton.me"> breakingdarkness@proton.me </a>
  </p>
</Layout>

<style is:global>
  @import url(../styles/base.css);
</style>
