---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Hero />
  <p class="contact">
    Media Inquiries:
    <a href="mailto:breakingdarkness@proton.me"> breakingdarkness@proton.me </a>
  </p>
  <Footer />
</Layout>

<style is:global>
  @import url(../styles/base.css);
</style>
