---

---

<header class="hero" role="banner">
  <div class="hero-inner u-container">
    <img
      class="hero-heading-logo"
      src="logo.png"
      srcset="logo.png 1x, logo@2x.png 2x"
      width="281"
      alt=""
      draggable="false"
    />

    <h1 class="hero-heading-text u-heading u-font-xl">
      <span class="u-visually-hidden">Breaking Darkness Music Festival: </span>
      Promoting Unity, Fellowship, Hope, and Redemption
    </h1>

    <p class="u-font-lg">All ticket proceeds benefit Christian outreach for drug addiction.</p>
  </div>
</header>

<style>
  .hero {
    display: flex;
    padding: 3rem 1rem;
    width: 100%;
    min-height: calc(40vh + 10vw);
    background-image: url("hero-bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }
  .hero-inner {
  }
</style>
