<section id="donors" class="sponsors-section section">
  <div class="u-container">
    <h2 class="section-heading u-font-xl">2026 Event Donors</h2>

    <svg
      class="sponsors-img"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 1688 1156"
    >
      <image width="1688" height="1156" xlink:href="sponsors@2x.png" />
      <a xlink:href="https://www.mossmarlow.com/" target="_blank">
        <title>Moss-Marlow Building Co. Inc</title>
        <rect x="104" y="0" fill="#fff" opacity="0" width="626" height="194"></rect>
      </a>
      <a xlink:href="https://www.metawooddesignco.com/" target="_blank">
        <title>Metawood Design Co.</title>
        <rect x="943" y="0" fill="#fff" opacity="0" width="637" height="185"></rect>
      </a>
      <a xlink:href="https://www.chick-fil-a.com/locations/nc/morganton" target="_blank">
        <title>Chick-fil-A Morganton</title>
        <rect x="227" y="289" fill="#fff" opacity="0" width="540" height="284"></rect>
      </a>
      <a
        xlink:href="https://www.integratedcarehickory.com/day-one-transitional-housing"
        target="_blank"
      >
        <title>Day One Recovery Homes</title>
        <rect x="1083" y="274" fill="#fff" opacity="0" width="343" height="278"></rect>
      </a>
      <a xlink:href="https://fam.church/" target="_blank">
        <title>Fam Church</title>
        <rect x="0" y="689" fill="#fff" opacity="0" width="518" height="168"></rect>
      </a>
      <a xlink:href="https://dianaparrishphoto.com/" target="_blank">
        <title>Diana Parrish Design and Photography</title>
        <rect x="584" y="688" fill="#fff" opacity="0" width="586" height="170"></rect>
      </a>
      <a xlink:href="https://westminstereffects.com/" target="_blank">
        <title>Westminister Effects</title>
        <rect x="1230" y="688" fill="#fff" opacity="0" width="458" height="169"></rect>
      </a>
      <a xlink:href="https://www.deluxeprintinggroup.com/" target="_blank">
        <title>Deluxe Printing</title>
        <rect x="49" y="991" fill="#fff" opacity="0" width="456" height="136"></rect>
      </a>
      <a xlink:href="https://olsendesigngroup.com/" target="_blank">
        <title>Olsen Design Group</title>
        <rect x="595" y="935" fill="#fff" opacity="0" width="548" height="100"></rect>
      </a>
      <a xlink:href="https://bombhouserecording.com/" target="_blank">
        <title>Bomb House Recording</title>
        <rect x="1305" y="943" fill="#fff" opacity="0" width="261" height="163"></rect>
      </a>
      <a xlink:href="https://mountainsizeaudio.com/" target="_blank">
        <title>Mountainsize Audio</title>
        <rect x="677" y="1062" fill="#fff" opacity="0" width="412" height="94"></rect>
      </a>
    </svg>
  </div>
</section>

<style is:global>
  .sponsors-img {
    padding: 1rem 2rem;
    width: 100%;
  }
</style>
