<section id="donors" class="sponsors-section section">
  <div class="u-container">
    <h2 class="section-heading u-font-xl">2026 Event Donors</h2>
    <img
      class="sponsors-img"
      src="sponsors.png"
      srcset="sponsors.png 1x, sponsors@2x.png 2x"
      alt="Sponsors include Moss Marlow Building Co. Inc, Metawood Design Co., Chick-fil-A Morganton, Day One Recovery Homes, Fam Church, Diana Parrish Design and Photography, Westminster Effects, Deluxe, Printing Group, Olsen Design Group, Bomb House Recording, and Mountainsize Audio."
      draggable="false"
    />
  </div>
</section>

<style is:global>
  .sponsors-img {
    padding: 1rem 2rem;
    width: 100%;
  }
</style>
